label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}

.label {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.label:invalid + span {
  color: #f00;
}
.label:valid + span {
  color: #0f0;
}

html,
body,
input,
button,
select,
textarea {
  color: #ccc;
  background-color: #000;
}
